
div.documentwrapper {
    float: none;
    border: 3px solid #ccc;
    padding: 0.5em 20px 20px 20px;
    text-align: left;
    border-radius: 6px;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.active_out {
    background-color:#dcdcdc;
    border-radius: 6px;
}

.result {
    width: 48%;
    float: left;
}
.result:last-child {
    float: right;
}
.solution {
    display: none;
}
